<!-- 타이틀 시작 -->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">관리비</a></li>
			<li><a href="#">부과항목등록</a></li>
			<li><a href="#">별도금액등록</a></li>
		</ol>		
	</div>
</div>
<!-- 타이틀 끝 -->
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span>Bordered Table</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Homepage</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Tor</td>
							<td>http://torproject.org</td>
							<td>Anonymous network</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Bitcoin</td>
							<td>http://bitcoin.org</td>
							<td>Anonymous money</td>
						</tr>
						<tr>
							<td>3</td>
							<td>I2P</td>
							<td>http://www.i2p2.de</td>
							<td>Anonymous network</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span>Hover rows</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<p>Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Homepage</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>OpenOffice</td>
							<td>http://openoffice.org</td>
							<td>Office suite</td>
						</tr>
						<tr>
							<td>2</td>
							<td>PyCharm</td>
							<td>http://jetbrains.com</td>
							<td>IDE</td>
						</tr>
						<tr>
							<td>3</td>
							<td>VirtualBox</td>
							<td>http://oracle.com</td>
							<td>Virtual machine</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>