<!-- 세대주 머리부분 공통부분 복사해서 쓰세요 시작========================================================================== -->    
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>세대주홈페이지</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
 <!--  <link href="img/favicon.png" rel="icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/hiapt/resources/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
  <link href="/hiapt/resources/css/prettyphoto.css" rel="stylesheet">
  <link href="/hiapt/resources/css/hoverex-all.css" rel="stylesheet">
  <link href="/hiapt/resources/css/jetmenu.css" rel="stylesheet">
  <link href="/hiapt/resources/css/owl-carousel.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/hiapt/resources/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/hiapt/resources/css/blue.css">

</head>

<body>

  <div class="topbar clearfix">
    <div class="container">
      <div class="col-lg-12 text-right">
        <div class="social_buttons">
          
          <a href="/hiapt/login.jsp" data-toggle="tooltip" data-placement="bottom"> *** 님 </a>
          <span class="at_bar">|</span><a href="/hiapt/login.jsp" data-toggle="tooltip" data-placement="bottom"> 로그아웃 </a>
          <!--span class="at_bar">|</span><a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"> 사이트맵 </a--> 
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->

  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12 title-area">
          <div class="site-title" id="title">
            <a href="/hiapt/login.jsp" title="">
              <h2>Hi<span>APT</span></h2>
            </a>
          </div>
        </div>
        <!-- title area -->
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div id="nav" class="right">
            <div class="container clearfix">
              <ul id="jetmenu" class="jetmenu blue">
                <!--li class="active"><a href="index.html">Home</a>
                </li-->
                <li><a href="#">샘플들</a>
                   <ul class="dropdown">
                    <li><a href="/hiapt/views/user/sample/contact.html">샘플1</a></li>
                    <li><a href="/hiapt/views/user/sample/sample.html">샘플2</a></li>
                    <li><a href="/hiapt/views/user/sample/404.html">샘플3</a></li>
                    <li><a href="/hiapt/views/user/sample/about.html">샘플4</a></li>  
                    <li><a href="/hiapt/views/user/sample/service.html">샘플5</a></li>
                    <li><a href="/hiapt/views/user/sample/support.html">샘플6</a></li>  
                    <li><a href="/hiapt/views/user/sample/testimonials.html">샘플7</a></li>
                    <li><a href="/hiapt/views/user/sample/fullwidth.html">샘플8</a></li>                      
                  </ul>
                </li>
                <li><a href="#">관리비결제</a></li>
                <li><a href="#">민원접수</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">주민투표</a></li>
                <li><a href="#">자유게시판</a></li>
              </ul>
            </div>
          </div>
          <!-- nav -->
        </div>
        <!-- title area -->
      </div>
      <!-- site header -->
    </div>
    <!-- end container -->
  </header>
  <!-- end header -->
  <!-- 세대주 머리부분 공통부분 복사해서 쓰세요 끝 =============================================================================== -->
  
  
<!-- 본문 타이틀 시작 구성 타이틀 부분 복사 시작==================================================================================-->
   <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>관리비조회</li>
        </ul>
        <h2>관리비조회</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->
<!-- 본문 타이틀 시작 구성 타이틀 부분 복사 끝==================================================================================-->
  
  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h4 class="title">Contact Form</h4>
          <div id="message"></div>
          <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

            <div class="form-group">
              <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large btn-primary">Send Message</button>
            </div>

          </form>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <h4 class="title">Contact Details</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <ul class="contact_details">
            <li><i class="fa fa-envelope-o"></i> info@yoursite.com</li>
            <li><i class="fa fa-phone-square"></i> +34 5565 6555</li>
            <li><i class="fa fa-home"></i> Some Fine Address, 887, Madrid, Spain.</li>
          </ul>
          <!-- contact_details -->
        </div>

        <div class="clearfix"></div>
        <div class="divider"></div>

        <h4 class="title">Social Media</h4>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="dm-icon fa fa-facebook fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Facebook</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="dm-icon fa fa-twitter fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Twitter</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="dm-icon fa fa-google-plus fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Google Plus</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a href="#" class=""> <i class="dm-icon fa fa-youtube fa-3x"></i> </a>
              </div>
              <div class="servicetitle">
                <h4>Youtube</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->

      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

  <footer class="footer">
    <div class="container">
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">About us</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
        <a class="button small" href="#">read more</a>
      </div>
      <!-- end widget -->
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Recent Posts</h4>
        <ul class="recent_posts">
          <li>
            <a href="home1.html#">
						<img src="img/recent_post_01.png" alt="" />Our New Dashboard Is Here</a>
            <a class="readmore" href="#">read more</a>
          </li>
          <li>
            <a href="home1.html#">
						<img src="img/recent_post_02.png" alt="" />Design Is In The Air</a>
            <a class="readmore" href="#">read more</a>
          </li>
        </ul>
        <!-- recent posts -->
      </div>
      <!-- end widget -->
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Get In Touch</h4>
        <ul class="contact_details">
          <li><i class="fa fa-envelope-o"></i> info@yoursite.com</li>
          <li><i class="fa fa-phone-square"></i> +34 5565 6555</li>
          <li><i class="fa fa-home"></i> Some Fine Address, 887, Madrid, Spain.</li>
          <li><a href="#"><i class="fa fa-map-marker"></i> View large map</a></li>
        </ul>
        <!-- contact_details -->
      </div>
      <!-- end widget -->
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Flickr Stream</h4>
        <ul class="flickr">
          <li><a href="#"><img alt="" src="img/flickr_01.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_02.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_03.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_04.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_05.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_06.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_07.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_08.jpg"></a></li>
        </ul>
      </div>
      <!-- end widget -->
    </div>
    <!-- end container -->

<!-- 세대주 아래 공통부분 복사해서 쓰세요 시작 =============================================================================== --> 
  <footer class="footer">
    <div class="container">  
    <ul class="footer-menu">
      <li class="ma-1"><a href="#"> 회사소개 </a></li>
      <li><span class="at_bar">|</span><a href="#"> 이용약관 </a></li>
      <li><span class="at_bar">|</span><a href="#"> 개인정보처리방침 </a></li>
      <li><span class="at_bar">|</span> Copyright &copy; 2019 - All rights reserved.</li>
    </ul>    
    </div>
    <!-- end container -->


  </footer>
  <!-- end footer -->
  <div class="dmtop">Scroll to Top</div>
 
  <!-- JavaScript Libraries -->
  <script src="/hiapt/resources/js/jquery.min.js"></script>
  <script src="/hiapt/resources/js/bootstrap.min.js"></script>
  <script src="/hiapt/resources/js/prettyphoto.js"></script>
  <script src="/hiapt/resources/js/hoverdir.js"></script>
  <script src="/hiapt/resources/js/jetmenu.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/hiapt/resources/js/main.js"></script>
<!-- 세대주 아래 공통부분 복사해서 쓰세요 끝 =============================================================================== --> 
</body>
</html>
