<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HiAPT 세대주홈페이지</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
 <!--  <link href="img/favicon.png" rel="icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/prettyphoto/css/prettyphoto.css" rel="stylesheet">
  <link href="lib/hover/hoverex-all.css" rel="stylesheet">
  <link href="lib/jetmenu/jetmenu.css" rel="stylesheet">
  <link href="lib/owl-carousel/owl-carousel.css" rel="stylesheet">
  
  <!--  font css -->
  <link href="/user/resources/css/basic.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="css/colors/blue.css">

  <!-- =======================================================
    Template Name: MaxiBiz
    Template URL: https://templatemag.com/maxibiz-bootstrap-business-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <div class="topbar clearfix">
    <div class="container">
      <div class="col-lg-12 text-right">
        <div class="social_buttons">
          <!-- <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>-->
          <a href="login.html" data-toggle="tooltip" data-placement="bottom">*** 님 |</a>
          <a href="login.html" data-toggle="tooltip" data-placement="bottom">로그아웃 |</a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble">사이트맵</a> 
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->

  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12 title-area">
          <div class="site-title" id="title">
            <a href="index.html" title="">
              <h4>Hi<span>APT</span></h4>
            </a>
          </div>
        </div>
        <!-- title area -->
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div id="nav" class="right">
            <div class="container clearfix">
              <ul id="jetmenu" class="jetmenu blue">
                <li class="active"><a href="index.html">Home</a>
                </li>
                <li><a href="#">관리비조회</a>
                   <ul class="dropdown">
                    <li><a href="#.html">관리비조회</a></li>
                    <li><a href="#.html">결제내역조회</a></li>                    
                  </ul>
                </li>
                <li><a href="#">관리비결제</a></li>
                <li><a href="#">민원접수</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">주민투표</a></li>
                <li><a href="#">자유게시판</a></li>
              </ul>
            </div>
          </div>
          <!-- nav -->
        </div>
        <!-- title area -->
      </div>
      <!-- site header -->
    </div>
    <!-- end container -->
  </header>
  <!-- end header -->

  <section id="intro">
    <div class="container">
      <div class="ror">
        <div class="col-md-8 col-md-offset-2">
          <h1>하이 프리미엄,<br> 이곳은 Hi아파트 입니다.</h1>
          <p>화창한 날입니다. 그리고 전 그걸 볼수가 없죠.<br>It’s a beautiful day and I can’t see it.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section1">
    <div class="container">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="servicebox text-center">
          <div class="service-icon">
            <div class="dm-icon-effect-1" data-effect="slide-left">
              <a href="#" class=""> <i class="active dm-icon fa fa-search fa-3x"></i> </a>
            </div>
            <div class="servicetitle">
              <h4>관리비조회</h4>
              <hr>
            </div>
            <p>고지서보다 빠르게, 인터넷으로 편하게, <br>지나달과 작년 같은 달과도 비교하고<br> 항목마다도 비교해 볼 수 있는 똑똑한 조회!</p>
          </div>
          <!-- service-icon -->
        </div>
        <!-- servicebox -->
      </div>
      <!-- large-4 -->

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="servicebox text-center">
          <div class="service-icon">
            <div class="dm-icon-effect-1" data-effect="slide-bottom">
              <a href="#" class=""> <i class="active dm-icon fa fa-credit-card fa-3x"></i> </a>
            </div>
            <div class="servicetitle">
              <h4>관리비결제</h4>
              <hr>
            </div>
            <p>언제 어디서나 편안하게<br> 자동이체로 납부하는 세대의 관리비 할인법 <br> 다음달 관리비 차감하자!</p>
          </div>
          <!-- service-icon -->
        </div>
        <!-- servicebox -->
      </div>
      <!-- large-4 -->

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="servicebox text-center">
          <div class="service-icon">
            <div class="dm-icon-effect-1" data-effect="slide-right">
              <a href="#" class=""> <i class="active dm-icon fa fa-pencil-square-o fa-3x"></i> </a>
            </div>
            <div class="servicetitle">
              <h4>민원접수</h4>
              <hr>
            </div>
            <p>작은 소리도 크게 듣겠습니다.  <br> 주민여러분과 함께 하는 온라인 단일창구 입니다.<br> 200가지 행복</p>
          </div>
          <!-- service-icon -->
        </div>
        <!-- servicebox -->
      </div>
      <!-- large-4 -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

 
  <footer class="footer">
    <div class="container">  
    <ul class="footer-menu">
      <li class="ma-1"><a href="#">회사소개 |</li>
      <li><a href="#">이용약관 |</li>
      <li><a href="#">개인정보처리방침 |</li>
      <li>Copyright © 2019 - All rights reserved.</li>
    </ul>    
    </div>
    <!-- end container -->


  </footer>
  <!-- end footer -->
  <div class="dmtop">Scroll to Top</div>
 
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/prettyphoto/js/prettyphoto.js"></script>
  <script src="lib/isotope/isotope.min.js"></script>
  <script src="lib/hover/hoverdir.js"></script>
  <script src="lib/hover/hoverex.min.js"></script>
  <script src="lib/unveil-effects/unveil-effects.js"></script>
  <script src="lib/owl-carousel/owl-carousel.js"></script>
  <script src="lib/jetmenu/jetmenu.js"></script>
  <script src="lib/animate-enhanced/animate-enhanced.min.js"></script>
  <script src="lib/jigowatt/jigowatt.js"></script>
  <script src="lib/easypiechart/easypiechart.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
