<!-- 세대주 머리부분 공통부분 복사해서 쓰세요 시작========================================================================== -->    
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>세대주홈페이지</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
 <!--  <link href="img/favicon.png" rel="icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/hiapt/resources/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
  <link href="/hiapt/resources/css/prettyphoto.css" rel="stylesheet">
  <link href="/hiapt/resources/css/hoverex-all.css" rel="stylesheet">
  <link href="/hiapt/resources/css/jetmenu.css" rel="stylesheet">
  <link href="/hiapt/resources/css/owl-carousel.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/hiapt/resources/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/hiapt/resources/css/blue.css">

</head>

<body>

  <div class="topbar clearfix">
    <div class="container">
      <div class="col-lg-12 text-right">
        <div class="social_buttons">
          
          <a href="/hiapt/login.jsp" data-toggle="tooltip" data-placement="bottom"> *** 님 </a>
          <span class="at_bar">|</span><a href="/hiapt/login.jsp" data-toggle="tooltip" data-placement="bottom"> 로그아웃 </a>
          <!--span class="at_bar">|</span><a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"> 사이트맵 </a--> 
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->

  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12 title-area">
          <div class="site-title" id="title">
            <a href="/hiapt/login.jsp" title="">
              <h2>Hi<span>APT</span></h2>
            </a>
          </div>
        </div>
        <!-- title area -->
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div id="nav" class="right">
            <div class="container clearfix">
              <ul id="jetmenu" class="jetmenu blue">
                <!--li class="active"><a href="index.html">Home</a>
                </li-->
                <li><a href="#">샘플들</a>
                   <ul class="dropdown">
                    <li><a href="/hiapt/views/user/sample/contact.html">샘플1</a></li>
                    <li><a href="/hiapt/views/user/sample/sample.html">샘플2</a></li>
                    <li><a href="/hiapt/views/user/sample/404.html">샘플3</a></li>
                    <li><a href="/hiapt/views/user/sample/about.html">샘플4</a></li>  
                    <li><a href="/hiapt/views/user/sample/service.html">샘플5</a></li>
                    <li><a href="/hiapt/views/user/sample/support.html">샘플6</a></li>  
                    <li><a href="/hiapt/views/user/sample/testimonials.html">샘플7</a></li>
                    <li><a href="/hiapt/views/user/sample/fullwidth.html">샘플8</a></li>                      
                  </ul>
                </li>
                <li><a href="#">관리비결제</a></li>
                <li><a href="#">민원접수</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">주민투표</a></li>
                <li><a href="#">자유게시판</a></li>
              </ul>
            </div>
          </div>
          <!-- nav -->
        </div>
        <!-- title area -->
      </div>
      <!-- site header -->
    </div>
    <!-- end container -->
  </header>
  <!-- end header -->
  <!-- 세대주 머리부분 공통부분 복사해서 쓰세요 끝 =============================================================================== -->
  
  
<!-- 본문 타이틀 시작 구성 타이틀 부분 복사 시작==================================================================================-->
   <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>관리비조회</li>
        </ul>
        <h2>관리비조회</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->
<!-- 본문 타이틀 시작 구성 타이틀 부분 복사 끝==================================================================================-->


  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Support Center</li>
        </ul>
        <h2>SUPPORT CENTER</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="dmbox">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a class="" href="#"><i class="dm-icon fa fa-question fa-3x"></i></a>
              </div>
            </div>
            <h4>1. Knowledge-Base</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <!-- end dmbox -->

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="dmbox">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a class="" href="#"><i class="dm-icon fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
            <h4>2. Report a Bug</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <!-- end dmbox -->

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="dmbox">
            <div class="service-icon">
              <div class="dm-icon-effect-1" data-effect="slide-bottom">
                <a class="" href="#"><i class="dm-icon fa fa-random fa-3x"></i></a>
              </div>
            </div>
            <h4>3. Submit a Ticket</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <!-- end dmbox -->

        <div class="clearfix"></div>
        <div class="divider"></div>

        <div class="general-title text-center">
          <h3>Support Forum</h3>
          <p>We are here to help you with everything regarding your product.</p>
          <hr>
        </div>

        <div class="text-center">
          <form id="bbsearch" class="form-inline">
            <input type="text" class="form-control" placeholder="Search on support forums">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>

        <div class="clearfix"></div>
        <div class="divider"></div>

        <div id="bbpress-forums">
          <ul class="bbp-forums">
            <li class="bbp-header">
              <ul class="forum-titles">
                <li class="bbp-forum-info">Forums</li>
                <li class="bbp-forum-topic-count">Topics</li>
                <li class="bbp-forum-reply-count">Posts</li>
                <li class="bbp-forum-freshness">Freshness</li>
              </ul>
            </li>
            <!-- .bbp-header -->

            <li class="bbp-body">
              <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                <li class="bbp-forum-info">
                  <a class="bbp-forum-title" href="support.html#" title="General">General Forums</a>
                  <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </li>
                <li class="bbp-forum-topic-count">18</li>
                <li class="bbp-forum-reply-count">190</li>
                <li class="bbp-forum-freshness">
                  <a href="#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7 hours ago</a>
                  <p class="bbp-topic-meta">
                    <span class="bbp-topic-freshness-author">
                                            <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                                                <img alt="" src="http://0.gravatar.com/avatar/0d91c692acdcc514b006840d870dd4a6?s=14&d=http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=14&r=G" class="avatar" height="20" width="20" />
                                            </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Matt Stinson</a>
                                        </span>
                  </p>
                </li>
              </ul>
              <!-- end bbp forums -->
            </li>

            <li class="bbp-body">
              <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                <li class="bbp-forum-info">
                  <a class="bbp-forum-title" href="support.html#" title="General">Site Feedback</a>
                  <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </li>
                <li class="bbp-forum-topic-count">55</li>
                <li class="bbp-forum-reply-count">2,997</li>
                <li class="bbp-forum-freshness">
                  <a href="support.html#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7 hours ago</a>
                  <p class="bbp-topic-meta">
                    <span class="bbp-topic-freshness-author">
                                            <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                                                <img alt="" src="http://0.gravatar.com/avatar/0d91c692acdcc514b006840d870dd4a6?s=14&d=http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=14&r=G" class="avatar" height="20" width="20" />
                                            </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Matt Stinson</a>
                                        </span>
                  </p>
                </li>
              </ul>
              <!-- end bbp forums -->
            </li>

            <li class="bbp-body">
              <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                <li class="bbp-forum-info">
                  <a class="bbp-forum-title" href="support.html#" title="General">Pre-Sale Questions</a>
                  <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </li>
                <li class="bbp-forum-topic-count">75</li>
                <li class="bbp-forum-reply-count">2,188</li>
                <li class="bbp-forum-freshness">
                  <a href="support.html#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7 hours ago</a>
                  <p class="bbp-topic-meta">
                    <span class="bbp-topic-freshness-author">
                                            <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                                                <img alt="" src="http://0.gravatar.com/avatar/0d91c692acdcc514b006840d870dd4a6?s=14&d=http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=14&r=G" class="avatar" height="20" width="20" />
                                            </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Matt Stinson</a>
                                        </span>
                  </p>
                </li>
              </ul>
              <!-- end bbp forums -->
            </li>

            <li class="bbp-body">
              <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                <li class="bbp-forum-info">
                  <a class="bbp-forum-title" href="support.html#" title="General">Item Support</a>
                  <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </li>
                <li class="bbp-forum-topic-count">1287</li>
                <li class="bbp-forum-reply-count">8,553</li>
                <li class="bbp-forum-freshness">
                  <a href="support.html#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7 hours ago</a>
                  <p class="bbp-topic-meta">
                    <span class="bbp-topic-freshness-author">
                                            <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                                                <img alt="" src="http://0.gravatar.com/avatar/0d91c692acdcc514b006840d870dd4a6?s=14&d=http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=14&r=G" class="avatar" height="20" width="20" />
                                            </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Matt Stinson</a>
                                        </span>
                  </p>
                </li>
              </ul>
              <!-- end bbp forums -->
            </li>

            <li class="bbp-body">
              <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                <li class="bbp-forum-info">
                  <a class="bbp-forum-title" href="support.html#" title="General">Global off topic</a>
                  <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </li>
                <li class="bbp-forum-topic-count">214</li>
                <li class="bbp-forum-reply-count">2,698</li>
                <li class="bbp-forum-freshness">
                  <a href="support.html#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7 hours ago</a>
                  <p class="bbp-topic-meta">
                    <span class="bbp-topic-freshness-author">
                                            <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                                                <img alt="" src="http://0.gravatar.com/avatar/0d91c692acdcc514b006840d870dd4a6?s=14&d=http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=14&r=G" class="avatar" height="20" width="20" />
                                            </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Matt Stinson</a>
                                        </span>
                  </p>
                </li>
              </ul>
              <!-- end bbp forums -->
            </li>
          </ul>
          <!-- .forums-directory -->
        </div>
        <!-- /bbpress -->

      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

  <footer class="footer">
    <div class="container">
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">About us</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
        <a class="button small" href="#">read more</a>
      </div>
      <!-- end widget -->
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Recent Posts</h4>
        <ul class="recent_posts">
          <li>
            <a href="home1.html#">
						<img src="img/recent_post_01.png" alt="" />Our New Dashboard Is Here</a>
            <a class="readmore" href="#">read more</a>
          </li>
          <li>
            <a href="home1.html#">
						<img src="img/recent_post_02.png" alt="" />Design Is In The Air</a>
            <a class="readmore" href="#">read more</a>
          </li>
        </ul>
        <!-- recent posts -->
      </div>
      <!-- end widget -->
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Get In Touch</h4>
        <ul class="contact_details">
          <li><i class="fa fa-envelope-o"></i> info@yoursite.com</li>
          <li><i class="fa fa-phone-square"></i> +34 5565 6555</li>
          <li><i class="fa fa-home"></i> Some Fine Address, 887, Madrid, Spain.</li>
          <li><a href="#"><i class="fa fa-map-marker"></i> View large map</a></li>
        </ul>
        <!-- contact_details -->
      </div>
      <!-- end widget -->
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Flickr Stream</h4>
        <ul class="flickr">
          <li><a href="#"><img alt="" src="img/flickr_01.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_02.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_03.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_04.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_05.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_06.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_07.jpg"></a></li>
          <li><a href="#"><img alt="" src="img/flickr_08.jpg"></a></li>
        </ul>
      </div>
      <!-- end widget -->
    </div>
    <!-- end container -->

   <!-- 세대주 아래 공통부분 복사해서 쓰세요 시작 =============================================================================== --> 
  <footer class="footer">
    <div class="container">  
    <ul class="footer-menu">
      <li class="ma-1"><a href="#"> 회사소개 </a></li>
      <li><span class="at_bar">|</span><a href="#"> 이용약관 </a></li>
      <li><span class="at_bar">|</span><a href="#"> 개인정보처리방침 </a></li>
      <li><span class="at_bar">|</span> Copyright &copy; 2019 - All rights reserved.</li>
    </ul>    
    </div>
    <!-- end container -->


  </footer>
  <!-- end footer -->
  <div class="dmtop">Scroll to Top</div>
 
  <!-- JavaScript Libraries -->
  <script src="/hiapt/resources/js/jquery.min.js"></script>
  <script src="/hiapt/resources/js/bootstrap.min.js"></script>
  <script src="/hiapt/resources/js/prettyphoto.js"></script>
  <script src="/hiapt/resources/js/hoverdir.js"></script>
  <script src="/hiapt/resources/js/jetmenu.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/hiapt/resources/js/main.js"></script>
<!-- 세대주 아래 공통부분 복사해서 쓰세요 끝 =============================================================================== --> 
</body>
</html>
   